<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>If you wish to use the KML proxy, then you need to send a POST request to this URL with a JSON payload of
    {uid: value, kml_data: value}. In return you will receive {url: /kml/<file_name>}.</p>
  </body>
</html>
